body {
    background-color: white;
}
th {
    font-size: 20px;
    text-align: center;
    background-color: #96c8a2;
}
.panel-heading, h4 {
    font-size: 30px;
    text-align: center;
}
td {
    text-align: center;
}
label {
    font-size: 16px;
}
.jumbotron, #submitButton {
    background-color: #d9ebdd;
}
button {
    font-size: 20px ;
    text-align: center
}
button:hover {
    text-transform: uppercase;
}
